@charset "utf-8";

/*////////////////////////////contact////////////////////////////*/
.main_wrap_contact{
		width: 40em;
		margin: 120px 0;
}

.hissu::before{
	content: "必須";
	background: #ca113b;
	color: white;
	text-align: center;
	border-radius: 4px;
	padding: 0 4px;
	margin: 0 8px;
	font-weight: 400;
}

.form_item{
	margin: 20px 0;
}

input , select , textarea , button{
box-sizing: border-box;
font-size: 1.6rem;
}
.koumoku_form{
	font-weight: 400;
}
::placeholder{
	color: #777777;
	font-size: 1.6rem;
}

.name{
	width: 49.6%;
	padding: 6px 12px;
}

#email{
	width: 100%;
	padding: 6px 12px;
}

.tel{
	width: 31.9%;
	padding: 6px 12px;
}

textarea{
	width: 100%;
	height: 6em;
	padding: 6px 12px;
}

#wrap_submit{
	text-align: center;
	width: 100%;
}

#btn_submit{
	margin: 20px 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 1.6rem;
	width: 200px;
	text-align: center;
	color: white;
	background-color: #792f41;
	border-radius: 6px;
	padding: 5px 0;
	border: none;
	font-weight: 400;
}

#btn_submit:hover,
#btn_submit:active{
	opacity: 0.7;
}

.warning{
	color: #ca113b;
	font-weight: 400;
}

@media screen and (max-width: 1030px){
  .main_wrap_contact{
		width: 96%;
  }

  input , select , textarea , button{
  font-size: 1.5rem;
  }

  ::placeholder{
    font-size: 1.5rem;
  }

  .name{
    width: 49%;
  }

  .tel{
    width: 30%;
  }
}


/* spのみ */
@media screen and (max-width: 450px){
	.br_sp{
		display: block;
	}
}